@import './presets/root';
@import './presets/mixins';
@import './presets/global';
@import './presets/reset';
@import './presets/forms';
@import './presets/fonts';

.page {
	&__title {
		font-family: Grotesk;
		font-size: 45px;
		font-weight: 500;
		// color: #fff;
		text-transform: uppercase;
		text-align: center;
	}
	&__img {
		display: block;
		width: 200px;
		height: 200px;
		margin: 0 auto;
	}
}



